//BACKGROUND
$BACKGROUND-PRIMARY: #287ee7;
$BACKGROUND-SECONDARY: #939597;

//OTHER
$ERROR: #f33;
$SUCCESS: #39c16c;
$COLOR-TEXT: #fff;
$BORDER-RADIUS: 50%;
$TERTIARY: #EA5924;
$COLOR-PRIMARY: #F4E041;
$COLOR-SECONDARY: #00BDD3;
$MAIN-TEXT: rgba(0,0,0,0.87);

$primary-lighter: #fc831f;
