@import '../../assets/scss/variables';

.cropContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  width: 100vw;
}

.simpleBlock {
  height: 80vh;
}

.cropper {
  height: 300px !important;
  width: 300px !important;
}

.controls {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  width: 100vw;
  z-index: 3;
  padding-top: 400px;
}

.wrapper {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-top: 20px;
  width: 280px;

  p {
    color: $COLOR-TEXT;
    line-height: 16px;
    z-index: 6;
  }
}

.sliderWrapper {
  width: 200px;
}

.slider {
  color: $COLOR-TEXT;
}

.thumb {
  color: $COLOR-PRIMARY;
}

.buttonWrapper {
  display: flex;
  margin-top: 15px;
}

.button {
  background: #f8f8f8;
  margin: 0 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover {
  background: $BACKGROUND-PRIMARY;
}


@media screen and (max-width: 700px) {
  .controls {
    padding-top: 375px;
  }
}

@media screen and (max-width: 640px) {
  .controls {
    padding-top: 325px;
  }
}
